/* index css */
.body-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr 3fr 0.5fr;
  grid-template-areas: "header header header" "main-index main-index main-index" "main-index main-index main-index" "footer footer footer";
}
.body-index .main-index {
  grid-area: main-index;
}
.body-index .main-index .container-background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/images/Backgrounds/background_grey.webp");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.body-index .main-index .container-background .container {
  background-color: whitesmoke;
  max-width: 400px;
  padding: 40px;
  text-align: center;
}
.body-index .main-index .container-background .container .title {
  font-size: 24px;
  margin-bottom: 20px;
}
.body-index .main-index .container-background .container .description {
  font-size: 18px;
  margin-bottom: 30px;
}
.body-index .main-index .container-background .container #search-input2 {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.body-index .main-index #h1-new-recipe {
  color: #494747;
  text-align: center;
  margin: 5vh;
}
.body-index .main-index .container-new-recipes {
  display: flex;
  flex-direction: row;
  color: #494747;
  justify-content: center;
}
.body-index .main-index .container-new-recipes .recipes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 70%;
}
.body-index .main-index .container-new-recipes .recipes-container .recipe-card {
  width: calc(50% - 20px);
  margin: 10px;
  box-sizing: border-box;
  transition: transform 0.3s;
}
.body-index .main-index .container-new-recipes .recipes-container .recipe-card:hover {
  transform: scale(1.05); /* Increase the size by 20% */
}
.body-index .main-index .container-new-recipes .recipes-container .recipe-card .recipe-link {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: whitesmoke;
}
.body-index .main-index .container-new-recipes .recipes-container .recipe-card .recipe-link .recipe-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #F96332;
  text-decoration: none;
  margin-bottom: 0px;
  height: 40px;
}
.body-index .main-index .container-new-recipes .recipes-container .recipe-card .recipe-link img {
  display: flex;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  max-height: 200px;
}
.body-index .main-index .container-new-recipes .recipes-container .recipe-card .recipe-link .recipe-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0px;
  background-color: #494747;
  height: 70px;
}
@media (max-width: 1200px) {
  .body-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr 3fr 0.5fr;
    grid-template-areas: "header" "main-index" "main-index" "footer";
  }
}
@media (max-width: 576px) {
  .body-index .recipe-card {
    width: calc(100% - 20px) !important;
  }
}

html.dark-mode .body-index {
  background-color: #282B28;
  color: whitesmoke;
}
html.dark-mode .body-index .main-index .container-background {
  background-image: url("../assets/images/Backgrounds/dark-background.webp");
}
html.dark-mode .body-index .main-index .container-background .container {
  background-color: #A24936;
}
html.dark-mode .body-index .main-index .container-background .container .title {
  color: whitesmoke;
}
html.dark-mode .body-index .main-index .container-background .container .description {
  color: whitesmoke;
}
html.dark-mode .body-index .main-index #h1-new-recipe {
  color: whitesmoke;
}
html.dark-mode .body-index .main-index .container-new-recipes {
  color: whitesmoke;
}
html.dark-mode .body-index .main-index .container-new-recipes .recipes-container .recipe-card .recipe-link {
  color: whitesmoke;
}
html.dark-mode .body-index .main-index .container-new-recipes .recipes-container .recipe-card .recipe-link .recipe-category {
  background-color: #A24936;
}
html.dark-mode .body-index .main-index .container-new-recipes .recipes-container .recipe-card .recipe-link .recipe-name {
  background-color: #3E5641;
}

header {
  grid-area: header;
}
header nav {
  background-color: #F96332;
  height: 73px;
  z-index: 9999 !important;
}
header nav .navbar-collapse {
  background-color: #F96332;
}
header nav #switch-nav {
  color: white;
}
header nav #switch-nav #sun-icon {
  position: relative;
  right: 84px;
}
header nav #switch-nav #swithc-dark-theme {
  color: black;
}
header nav #search-nav {
  display: flex;
  justify-content: center;
  justify-self: center;
}

html.dark-mode nav {
  background-color: #A24936;
}
html.dark-mode nav .navbar-collapse {
  background-color: #A24936;
}

.body-contact {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 0.3fr 3fr 3fr 0.5fr;
  grid-template-areas: "header header header " ". main-contact ." ". main-contact ." "footer footer footer";
}
.body-contact .main-contact {
  grid-area: main-contact;
  margin-top: 15vh;
}
.body-contact .map-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 7vh;
}
.body-contact .map-container iframe {
  width: 100%;
}

html.dark-mode .body-contact {
  background-color: #282B28;
  color: whitesmoke;
}
html.dark-mode .body-contact .send-button {
  background-color: #A24936;
}

.body-about {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 0.3fr 3fr 3fr 0.5fr;
  grid-template-areas: "header header header" ". main-about ." ". main-about ." "footer footer footer";
}
.body-about .main-about {
  grid-area: main-about;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
@media (max-width: 992px) {
  .body-about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 3fr 3fr 0.5fr;
    grid-template-areas: "header" "main-about" "main-about" "footer";
  }
  .body-about .main-about {
    margin: 10vw;
  }
}

html.dark-mode .body-about {
  background-color: #282B28;
  color: whitesmoke;
}

#body-recipes {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.3fr 3fr 3fr 0.5fr;
  grid-template-areas: "header header header " ". main-recipes ." ". main-recipes ." "footer footer footer";
}
#body-recipes #main-recipes {
  grid-area: main-recipes;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 120px;
  margin-bottom: 50px;
}
#body-recipes #main-recipes .recipe-info {
  background-color: #F96332;
  display: flex;
  margin-bottom: 50px;
  width: 70vw;
  height: 30vh;
}
#body-recipes #main-recipes .recipe-info #recipe-details {
  color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}
#body-recipes #main-recipes .recipe-info #recipe-image {
  flex: 1;
}
#body-recipes #main-recipes .recipe-info #recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#body-recipes #main-recipes .recipe-steps {
  display: flex;
}
#body-recipes #main-recipes .recipe-steps #ingredient-list {
  flex-basis: 30%;
  border: #494747;
  border-style: solid;
  padding: 20px;
  margin-bottom: 4vw;
}
#body-recipes #main-recipes .recipe-steps #ingredient-list ul {
  font-size: 1.3rem;
  padding: 10px;
}
#body-recipes #main-recipes .recipe-steps #instruction-list {
  flex-basis: 70%;
  margin-left: 5vw;
  padding: 10px;
}
#body-recipes #main-recipes .recipe-steps #instruction-list ol {
  font-size: 1.3rem;
  padding: 10px;
}
@media (max-width: 768px) {
  #body-recipes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr 3fr 0.5fr;
    grid-template-areas: "header " "main-recipes" " main-recipes" "footer";
  }
  #body-recipes .recipe-info {
    width: 100vw;
    height: 30vh;
    margin-left: 15vw;
  }
  #body-recipes .recipe-steps {
    flex-direction: column;
  }
  #body-recipes .recipe-steps #ingredient-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #body-recipes .recipe-steps #instruction-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  #body-recipes #recipe-details {
    font-size: 0.9rem;
  }
  #body-recipes #instruction-list {
    font-size: 0.9rem;
  }
  #body-recipes #instruction-list ol {
    font-size: 1rem;
  }
  #body-recipes #ingredient-list {
    font-size: 1rem;
  }
  #body-recipes #ingredient-list ul {
    font-size: 1rem;
  }
}

html.dark-mode #body-recipes {
  background-color: #282B28;
  color: whitesmoke;
}
html.dark-mode #body-recipes #main-recipes .recipe-info {
  background-color: #A24936;
}
html.dark-mode #body-recipes #main-recipes .recipe-info #recipe-details {
  color: whitesmoke;
}
html.dark-mode #body-recipes #main-recipes .recipe-steps {
  display: flex;
}
html.dark-mode #body-recipes #main-recipes .recipe-steps #ingredient-list {
  border: #3E5641;
}
html.dark-mode #body-recipes #main-recipes .recipe-steps #ingredient-list ul {
  color: whitesmoke;
}
html.dark-mode #body-recipes #main-recipes .recipe-steps #instruction-list ol {
  color: whitesmoke;
}

/* recipe-list css */
.body-recipe-list {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: 0.2fr 3fr 3fr 0.5fr;
  grid-template-areas: "header header header header" ". main-recipe-list main-recipe-list ." ". main-recipe-list main-recipe-list ." "footer footer footer footer";
}
.body-recipe-list .main-recipe-list {
  grid-area: main-recipe-list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.body-recipe-list .main-recipe-list #filters-container {
  flex-basis: 30%;
  margin-top: 10vh;
}
.body-recipe-list .main-recipe-list #filters-container .filter-search {
  padding-left: 7rem;
  margin-top: 2rem;
}
.body-recipe-list .main-recipe-list #filters-container .filter {
  padding-left: 7rem;
  margin-top: 2rem;
}
.body-recipe-list .main-recipe-list #filters-container .filter #select-ingredient {
  width: 85%;
  margin-top: 10px;
}
.body-recipe-list .main-recipe-list #filters-container .filter #select-category {
  width: 85%;
  margin-top: 10px;
}
.body-recipe-list .main-recipe-list #filters-container #buttons-rl {
  display: flex;
  margin-left: 43%;
  padding: 1rem;
}
.body-recipe-list .main-recipe-list #filters-container .mycheck {
  transform: scale(3.5);
  margin: 1rem;
}
.body-recipe-list .main-recipe-list #recipes-container-rl {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 70%;
  margin-bottom: 25vh;
  margin-top: 9vh;
}
.body-recipe-list .main-recipe-list #recipes-container-rl #title-rl {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}
.body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl {
  width: calc(50% - 20px);
  margin: 10px;
  box-sizing: border-box;
  transition: transform 0.3s;
}
.body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl:hover {
  transform: scale(1.05);
}
.body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl .recipe-link {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: whitesmoke;
}
.body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl .recipe-link .recipe-category {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #F96332;
  text-decoration: none;
  margin-bottom: 0px;
  height: 40px;
}
.body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl .recipe-link img {
  display: flex;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  max-height: 200px;
}
.body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl .recipe-link .recipe-name {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0px;
  background-color: #494747;
  height: 70px;
}
@media (max-width: 1500px) {
  .body-recipe-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr 3fr 0.5fr;
    grid-template-areas: "header" "main-recipe-list" "main-recipe-list" "footer";
  }
  .body-recipe-list .main-recipe-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .body-recipe-list .main-recipe-list .filter-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .body-recipe-list .main-recipe-list .filter-search #recipe-name {
    margin-right: 15vw;
  }
  .body-recipe-list .main-recipe-list .filter {
    display: none;
  }
  .body-recipe-list .main-recipe-list #buttons-rl {
    display: none;
  }
  .body-recipe-list .main-recipe-list #recipes-container-rl {
    margin: 8vw;
  }
}
@media (max-width: 768px) {
  .body-recipe-list #recipes-container-rl {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .body-recipe-list .recipe-card-rl {
    width: calc(100% - 20px) !important;
  }
}

html.dark-mode .body-recipe-list {
  background-color: #282B28;
  color: whitesmoke;
}
html.dark-mode .body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl .recipe-link {
  color: whitesmoke;
}
html.dark-mode .body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl .recipe-link .recipe-category {
  background-color: #A24936;
}
html.dark-mode .body-recipe-list .main-recipe-list #recipes-container-rl .recipe-card-rl .recipe-link .recipe-name {
  background-color: #3E5641;
}

footer {
  grid-area: footer;
  background-color: #494747;
}
footer #footer-container {
  background-color: #494747;
}
footer .footer-button {
  background-color: #F96332;
  color: whitesmoke;
  border: none;
  transition: background-color 0.2s ease-in-out;
}
footer .footer-button:hover {
  background-color: #af3a0c;
}
footer #footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

html.dark-mode footer {
  background-color: #3E5641;
}
html.dark-mode footer #footer-container {
  background-color: #3E5641;
}
html.dark-mode footer #footer-container .footer-button {
  background-color: #A24936;
  color: whitesmoke;
}
html.dark-mode footer #footer-container .footer-button:hover {
  background-color: #7e3828;
}

/*# sourceMappingURL=style.css.map */
