

.body-about{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 0.3fr 3fr 3fr 0.5fr;
  grid-template-areas:
    "header header header"
    ". main-about ."
    ". main-about ."
    "footer footer footer";

  .main-about {
    grid-area: main-about;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  @media (max-width: 992px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 3fr 3fr 0.5fr;
    grid-template-areas:
      "header"
      "main-about"
      "main-about"
      "footer";

    .main-about {
      margin: 10vw;
    }
  }
}


html.dark-mode 
{       
  @include dark-theme-about;
}