
footer {
    grid-area: footer;
    background-color: #494747;
  
    .button {
      color: white;
    }
  
    #footer-container {
      background-color: #494747;
    }
  
    #footer-button {
      background-color: #54456b;
    }
  
    #footer-copyright {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }