
footer {
    grid-area: footer;
    background-color: map-get($colores, gris);
  
  
    #footer-container {
      background-color: map-get($colores, gris);
    }
  
    .footer-button {
      background-color: map-get($colores, naranja);
      color: map-get($colores, blanco);
      border: none; 
      transition: background-color 0.2s ease-in-out;
        &:hover{
          background-color: map-get($colores, naranja_oscuro); /* Set a darker shade of orange */
         }
    }
  
    #footer-copyright {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }