
footer {
    grid-area: footer;
    background-color: map-get($colores, gris);
  
  
    #footer-container {
      background-color: map-get($colores, gris);
    }
  
    .footer-button {
      color: whitesmoke;
    }
  
    #footer-copyright {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }