
header {
    grid-area: header;
    nav {
        background-color: map-get($colores, naranja); 
        height: 73px;
        z-index: 9999 !important;
        .navbar-collapse {
            background-color: map-get($colores, naranja);
            padding: 5px; 
        }
        #switch-nav{
            color:map-get($colores, blanco);
            #sun-icon{
                position: relative;
                right: 84px;
            }
            #swithc-dark-theme{
                color: map-get($colores, negro);
            }
        }
        #search-nav{
            display: flex;
            justify-content: center;
            justify-self: center;
        }        
    }
    @media (max-width: 992px){
        #switch-nav{
            position: relative;
            left: 25px;
            #sun-icon{
                position: relative;
                right: 84px;
            }
        }
    }
}
html.dark-mode 
{
@include dark-theme-nav;
}