
header {
    grid-area: header;
    nav {
        background-color: map-get($colores, naranja); 
        height: 73px;

        .navbar-collapse {
            background-color: map-get($colores, naranja); 
        }
    }
}