$colores:(
    naranja: #F96332,
    gris: #494747,
    blanco: whitesmoke,
    naranja_oscuro: #af3a0c,
    negro: black,
);


$dark-theme-black: black;
$dark-theme-grey: #282B28;
$dark-theme-white: whitesmoke;
$dark-theme-orange: #A24936;
$dark-theme-dark-orange: #7e3828;
$dark-theme-olive: #3E5641;